.btnCreate{
    width:120px;
    height:35px;
    background:purple;
    border-radius:5px;
    border:none;
    margin:20px;
    cursor:pointer;
    color:white;
    font-family: "Play", sans-serif;
    font-size:0.9rem;
    box-shadow:1px 1px 2px rgba(66, 66, 66, 0.509);
    transition:all 0.2s ease-in;
}

.btnCreate:hover{
    background: rgb(242, 204, 237);
    color:purple;
}