.createTodoContainer{
    display:none;
}

.container-input{
    display:flex;
    flex-direction:column;
}

.createContainer-title{
    font-size:1.3rem;
    text-align: start;
    padding:10px;
    color:purple;
    margin-left:10px;
    margin-top:40px;
}

.createContainer-input{
    margin-left:20px;
    width:80%;
    height:30px;
    padding:3px 7px;
    border:1px solid lightgrey;
    border-radius:5px;
    font-size:0.95rem;
    font-family: "Play", sans-serif;
    outline:none;
    color:purple;
}

.createContainer-input:focus{
    border:1px solid purple;
}

@media (min-width:375px) {
    .createContainer-input{
        width:8
    }
    
}